.jumbotron {
    background-position-y: 40%;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 75px;
}

#breadAisle {
   }

#productDescription {
    margin-top: 25px;
}

#productImage {
    padding: 25px;
}

.img-fluid {
    object-fit: cover;
    height: 500px;
    float: right;
}

.footer {
    margin-top: 50px;
}
